<app-not-found [visible]="!book" notFoundMessage="Product Not Found!" resetLinkText="Back to homepage"> </app-not-found>
<div *ngIf="book" class="container">
    <img [src]="book.imageUrl" [alt]="book.name"/>

<div class="details">
    <div class="header">
        <span class="name">
            {{book.name}}
        </span>
    </div>
    <div class="author">
        <span class="author">
            {{book.author}}
        </span> 
    </div>
    <div class="rating">
        <star-rating [stars]="book.stars" [size]="1.8" />
      </div>
    <div class="tags">
        <app-tags [bookPageTags]="book.tags" justifyContent="start"></app-tags>
    </div>
    <div class="price">
        <span> {{ book.price | currency:'zl'}} </span>
    </div>
    <div class="publisher">
        <span>Publisher: {{ book.publisher }}</span>
    </div>
    <div class="pages">
        <span>Pages: {{ book.numberOfPages }}</span>
    </div>
    <div class="binding">
        <span>Binding: {{ book.binding }}</span>
    </div>
    <button (click)="addToCart()">
        Add to Cart
    </button>
</div>
</div>
<div *ngIf="book" class="description">
    <span class="descriptionName"> Description: </span>
    <span class="description">
    {{book.description}}
</span>
</div>