ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
ul li a img {
    height: 10rem;
    width: 8rem; 
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    overflow: hidden;
  }

.content {
    margin-top: 1rem;
    padding:  .5rem 1rem;
    position: relative;
}
  
.name {
    font-weight: bold;
}
  
.author,
.price {
    color: #333;
}

.price {
    color: #414141;
    margin-top: .7rem;
}

.favourite{
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 1.2 rem;
}

.favourite.not{
    color: gray;
}

ul li a{
    height: 22.5rem;
    width: 20rem; 
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: red;
}

li a:hover{
    opacity: 0.9;
    cursor: pointer;
}